<section class="home-banner" id="home">
    <div class="container">
        <div class="banner_wrapper">
            <div class="content_">
                <h2 class="default_anim d_2">Test</h2>
                <h1 class="default_anim d_3">Test</h1>
                <div class="btn_group default_anim d_3">
                    <a href="#about" data-scroll="#about" class="down_">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                        <path d="M128.3,247c-34.3-34.3-69-69-103.8-103.8c4.5-4.4,9.4-9.2,14.6-14.4c25.5,25.5,51.2,51.2,76.9,76.9c0.4-0.2,0.8-0.5,1.2-0.7
                            c0-65.2,0-130.4,0-196.1c7.4,0,14.2,0,21.5,0c0,65.3,0,130.6,0,195.7c25.8-25.8,51.5-51.5,76.9-77c6.2,6.5,11.1,11.5,15.6,16.2
                            C197.4,178,162.7,212.7,128.3,247z"/>
                        </svg>
                    </a>
                </div>

                  <div class="products_wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide slide_">
                                    <div class="inner_">
                                        <div class="image_box">
                                            <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide slide_">
                                    <div class="inner_">
                                        <div class="image_box">
                                            <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide slide_">
                                    <div class="inner_">
                                        <div class="image_box">
                                            <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

            </div>

          
        </div>
    </div>
</section>
